alabaster==0.7.10
Babel==2.5.1
certifi==2017.11.5
chardet==3.0.4
cycler==0.10.0
decorator==4.1.2
docutils==0.14
IBMQuantumExperience==1.8.16
idna==2.6
imagesize==0.7.1
Jinja2==2.10
MarkupSafe==1.0
matplotlib==2.0.2
networkx==1.11
numpy==1.13.3
ply==3.10
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
qiskit==0.3.10
requests==2.20.0
scipy==0.19.1
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.6.5
sphinxcontrib-fulltoc==1.2.0
sphinxcontrib-websupport==1.0.1
urllib3==1.22
